<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="topnav">
    <a href="/cats">Cats</a>
    <% if !current_user.nil? %>
      <a>Logged in as: <%= current_user.username %></a>
      <a>
        <form action="<%= session_url %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Logout" />
        </form>
      </a>
    <% else %>
      <a>
        <form action="<%= new_session_url %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="submit" value="Login" />
        </form>
      </a>

      <a>
        <form action="<%= new_users_url %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Sign up">
        </form>
      </a>
    <% end %>

  </div>

  <body>
    <%= yield %>
  </body>
</html>
